body{ 
    background-image: url(https://i.pinimg.com/564x/eb/6d/c0/eb6dc0346367415f400b49d94c131283.jpg)
}
 
section{

    background-color: rgb(190, 153, 0, 0.1);
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h3{
    text-align: center;

}

h2{ 
    text-align: center;
    font-family: cursive ;
    font-size: 45;
}

p{
    font-size: 50;
    text-align: center;

}

div{
    font-size: 20;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(190, 153, 0, 0.1);
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    top: 0;
    position: fixed;
    overflow: auto;
    border: 1px solid black;
    background-color: rgb(190, 153, 0, 0.1);
}

li a:hover{
    background-color: rgb(190, 153, 0, 0.1);
    color: white;
}

    